[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
[submodule "lib/nuklear"]
	path = lib/nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear.git
